body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  --primary-font: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  margin: 0;
  background-color: #559190;
  font-family: "Rubik", sans-serif;
}

input:focus {
  outline: none;
  background-color: #eee;
}

header {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
}

h1 a {
  margin-left: 3vw;
  color: #faffe4;
  text-decoration: none;
}

h1 {
  margin-left: 3vw;
  color: #faffe4;
  text-decoration: none;
}

header ul {
  margin-left: 10vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
}

header ul li {
  text-align: center;
}

header ul li a {
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: #559190;
  border: 2px solid #faffe4;
  color: #faffe4;
  font-weight: bold;
  transition: all 0.3s;
  text-align: center;
}

header ul li a.no-box {
  border: none;
  background-color: transparent;
  color: #faffe4;
}

header ul li a:hover {
  color: #559190;
  background-color: #faffe4;
}

#title {
  margin: 10vh 0 0 5vw;
  font-size: 40px;
  color: #faffe4;
}

#data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#data div {
  margin: 10px;
}

#data div h3 {
  padding: 10px 20px;
  border-radius: 15px;
  margin-bottom: 0;
  border: 2px solid black;
}

#data div ul {
  border: 2px solid black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: 10%;
  margin-right: 15px;
  border-top: none;
  margin-top: 0;
  padding: 20px 0 20px 40px;
  background-color: white;
}

#jumbotron {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#jumbotron svg {
  width: 70%;
  margin: 0 15%;
}

#jumbotron div {
  color: #faffe4;
  margin: auto 20%;
}

#jumbotron div h3 {
  font-size: 36px;
}

#files {
  margin: 30vh 3vw;
  color: #faffe4;
}

#map {
  height: 80vh;
  width: 90vw;
  margin: 2vh 5vw;
  border: 2px solid black;
}

#options-container {
  margin: 30px -3vw;
}

#options {
  margin: 2vh 5.3vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#options .option {
  background-color: #559190;
  color: #faffe4;
  border: none;
  margin: 5px;
  padding: 2px 0;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 3px black;
  transition: all 0.2s;
  text-align: start;
}

#options .option:focus {
  outline: none;
}

#options .option:hover {
  opacity: 0.7;
}

.option span {
  text-shadow: none;
  font-weight: 600;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 8px;
  background-color: #faffe4;
  color: #559190;
}

#confirm-visualization {
  margin: 0 0 0 5vw;
  font-family: "Rubik", sans-serif;
  background-color: #faffe4;
  font-size: 24px;
  color: #559190;
  border-radius: 15px;
  padding: 3px 15px;
  outline: none;
  border: none;
  transition: all 0.2s;
}

#confirm-visualization:focus {
  outline: none;
}

#confirm-visualization.submit-real {
  background-color: coral;
  padding: 10px 15px;
  font-size: 36px;
  color: white;
  box-shadow: 3px 3px 5px black;
}

#confirm-visualization.submit-real:hover {
  opacity: 0.7;
}

#open-close-options {
  border: none;
  margin: -3px 10px;
  background-color: transparent;
  font-size: 30px;
  color: #faffe4;
}

#open-close-options:focus {
  outline: none;
}

#options-menu-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#or-text {
  margin: 50px 0 50px 6vw;
  color: #faffe4;
  font-size: 40px;
  font-weight: bold;
}

#uploadfile-container {
  margin-left: 2vw;
  color: #faffe4;
}

#uploadfile-container div {
  font-family: "Rubik", sans-serif;
  background-color: #faffe4;
  font-size: 24px;
  color: #559190;
  border-radius: 15px;
  padding: 3px 15px;
  outline: none;
  border: none;
  transition: all 0.2s;
  display: inline;
}

#uploadfile-container p a {
  color: #faffe4;
}

#uploadfile-container p {
  margin-left: 15px;
}

#uploadfile-container input {
  margin-left: 15px;
}

section#top-section {
  padding: 30px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px black;
  border: 2px solid black;
  margin: 5vh 2vw;
}

#resources {
  list-style: none;
  padding: 0;
}

#resources li {
}

#resources li a {
  text-decoration: none;
  margin: 10px 0px;
  margin-right: 0px;
  text-align: center;
  max-width: 400px;
  display: block;
  padding: 10px;
  background-color: #faffe4;
  border: 2px #faffe4 solid;
  color: #559190;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s;
}

#resources-text.inhome {
  font-size: 36px;
  color: #faffe4;
}

#resources li a:hover {
  background-color: #559190;
  color: #faffe4;
}

#info-page {
  margin-left: 5vw;
}

#docs {
  padding: 30px;
  border-radius: 20px;
  background-color: white;
  color: black;
  border: 3px solid black;
  margin: 5vh 5vw;
}

#home2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#home2 div {
  margin: auto 20%;
  color: #faffe4;
}

#home2 div h3 {
  font-size: 36px;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: #0d5a6d;
  color: white;
  position: relative;
  margin-top: 20vh;
}

footer div {
  display: block;
  position: absolute;
  top: 30%;
  right: 5%;
}

#gallery {
  margin-left: 5vw;
}

#gallery h3 {
  font-size: 40px;
}

#gallery ul {
  list-style: none;
  padding: 0;
}

#gallery ul li img {
  max-width: 80%;
  border: 5px solid black;
}

#gallery ul li label {
  display: block;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

h3#visualizer-title {
  text-shadow: black 5px 5px 8px;
  color: #faffe4;
  font-size: 5vw;
  margin: 10vh;
  text-align: center;
  font-style: italic;
}

.post {
  margin: 10vh 10vw;
  background-color: #0d5a6d;
  color: white;
  box-shadow: 5px 5px 5px black;
  padding: 20px;
  max-width: 800px;
}

.post h5 {
  padding: 0;
  margin: 0;
  font-size: 30px;
}

#add-news,
#login-form {
  padding: 20px;
  background-color: #0d5a6d;
  border-radius: 15px;
  text-align: center;
  margin: 40vh auto;
  box-sizing: border-box;
}

#login-form {
  width: 300px;
}

#add-news {
  max-width: 800px;
}

#add-news input:nth-child(3) {
  width: 100%;
  height: 80px;
}

#add-news input,
#login-form input {
  display: block;
  margin: 10px;
  font-size: 20px;
}

#add-news button,
#login-form button {
  font-size: 30px;
}

#about-paragraph,
#resources-paragraph {
  max-width: 700px;
}

header #logo {
  max-height: 50px;
  margin: 0;
}

.news {
  font-size: 30px;
  margin: 2px 0px 20px auto;
  padding: 5px;
  background-color: white;
  color: #0d5a6d;
}

h2#news-text {
  margin: auto;
  text-align: center;
  text-decoration: underline;
  font-size: 50px;
  margin: 5vh 0;
  color: #faffe4;
}

#focusedDistrict {
  text-align: center;
  margin: 5vh 0 15vh 0;
}

#focusedDistrict div {
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 2vh;
}

#focusedDistrict button {
  border: 4px solid lightgray;
  color: black;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  background-color: lightgray;
  transition: all 0.3s;
}

#focusedDistrict button:hover {
  background-color: transparent;
  color: lightgray;
}

.view-alone {
  border: 3px solid black;
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  width: 150px;
  display: block;
  margin: auto;
}

.view-alone:hover {
  background-color: white;
  color: black;
}

#grayed-background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

#loading-container {
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  border: 2px solid black;
  border-radius: 5px;
  z-index: 101;
  background-color: #0d5a6d;
}

#loading-container p {
  text-align: center;
  font-size: 24px;
  color: #faffe4;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid lightcoral; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**Algorithm Page*/

#algorithm-input {
  padding: 5vh 5vw;
}

ul#algorithm-input-headers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  padding: 0;
}

ul#algorithm-input-headers li {
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul#algorithm-input-headers li input[type="text"] {
  width: 100%;
  padding: 5px;
  font-size: 27px;
  font-family: var(--primary-font);
  box-shadow: 3px 3px 5px black;
  border-radius: 5px;
  font-weight: bolder;
}

ul#algorithm-input-headers li input[type="number"] {
  max-width: 56px;
  margin: 0px 10px;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 2px 2px 3px black;
  padding: 3px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 20px;
}

ul#algorithm-input-headers li p {
  margin: 0;
}

#algorithm-input textarea#algorithm-input-lines {
  margin: 0 5%;
  max-width: 90%;
  min-width: 90%;
  max-height: 50vh;
  min-height: 50vh;
  border-radius: 10px;
  border: 3px solid black;
  padding: 10px;
  box-sizing: border-box;
  background-color: #eee;
  font-family: var(--primary-font);
  font-weight: 500;
}

#algorithm-input textarea#algorithm-input-lines:focus {
  outline: none;
  background-color: white;
}

#algorithm-input button {
  margin: 20px 5%;
  border: 4px solid black;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 26px;
  font-family: var(--primary-font);
  transition: all 0.2s;
}

#algorithm-input button:hover {
  color: black;
  background-color: white;
}

#algorithm-input button:focus {
  outline: none;
}

#algorithm-output-headers {
  font-size: 30px;
  padding: 5px 15px;
  background-color: lightcoral;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 3px 3px 5px black;
  margin: 30px 5%;
  font-weight: bolder;
}

#output-content {
  list-style: none;
  padding: 2vh 2vw;
  margin: 0 5%;
  border: 3px solid black;
  background-color: white;
  border-radius: 10px;
}

#algorithm-h2 {
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
  text-shadow: 1px 1px 2px black;
  margin: 10vh 0 20px 0;
}

.algorithm-description {
  margin: 2vh 20% 5vh 20%;
  text-align: center;
}

@media (min-width: 851px) and (max-width: 1090px) {
  #options {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 571px) and (max-width: 850px) {
  #home2 {
    grid-template-columns: 1fr;
  }

  #options {
    grid-template-columns: repeat(2, 1fr);
  }
  #data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  header {
    display: block;
    font-size: 12px;
  }

  header ul {
    margin: 5vh 0;
  }

  ul#algorithm-input-headers {
    grid-template-columns: repeat(2, 1fr);
  }

  ul#algorithm-input-headers li:nth-child(1) {
    grid-column: 1/3;
  }
}

@media (max-width: 570px) {
  #home2 {
    grid-template-columns: 1fr;
  }

  header {
    display: block;
    font-size: 12px;
  }

  header ul {
    margin: 20px 0;
    padding: 0;
  }

  #jumbotron {
    display: block;
  }

  #jumbotron svg {
    display: none;
  }

  #jumbotron div {
    margin: 20vh 5vw;
  }

  #options {
    grid-template-columns: repeat(1, 1fr);
  }

  div#map {
    width: 96vw;
    margin: 2vh 2vw;
  }

  input#fileupload {
    display: block;
    margin-top: 30px;
  }

  #data {
    display: grid;
    grid-template-columns: 1fr;
  }

  h3#visualizer-title {
    font-size: 9vw;
  }

  ul#algorithm-input-headers {
    grid-template-columns: 1fr;
  }

  #algorithm-h2 {
    font-size: 30px;
    margin: 10vh 0 10px 0;
  }

  .algorithm-description {
    margin: 2vh 20px 5vh 20px;
    text-align: center;
    font-size: 12px;
  }

  #about-paragraph,
  #resources-paragraph {
    margin-right: 20px;
  }

  #home2 div {
    margin: auto 20px;
  }

  #resources li a {
    box-sizing: border-box;
    width: 100%;
  }

  #docs {
    overflow-x: scroll;
  }

  #output-content {
    overflow-x: scroll;
  }
}
